*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Mulish', sans-serif;
}
/*Header Designs*/
header{
    background: url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.56\ AM.jpeg);
    height: 170vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    border-radius:  0 0 100% 100%/ 0 0 50% 50%;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        height: 80px;
        .logo{
            h3{
                font-family: 'Mulish', sans-serif;
                font-weight: 800;
                font-size: 22px;
            }
            p{
                font-family: 'Mulish', sans-serif;
                font-size: 15px;
                letter-spacing: 1.5px;
                font-weight: 700;
            }
        }
        .navmenus{
            ul{
                display: flex;
                gap: 30px;
                font-family: 'Mulish', sans-serif;
                font-size: 16px;
                li{
                    a{
                        color: black;

                    }
                }
            }
        }
        .btn{
            a{
                padding: 10px 20px;
                border: solid 1px #981E5D;
                background-color: #981E5D;
                font-family: 'Mulish', sans-serif;
                color: white;
                border-radius: 10px;
            }
        }
    }
    .container{
        width: 50%;
        margin: 120px auto;
        text-align: center;
        h1{
            font-family: 'Mulish', sans-serif;
            font-size: 110px;
            color: white;
            font-weight: 400;
            span{
                font-weight: 900;
                color: white;
            }
        }
        .mybtns{
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin: auto;
            margin-top: 30px;
            a{
                padding: 15px 20px;
                background-color: #981E5D;
                color: white;
            }
            a:nth-child(1){
                font-weight: 900;
                font-size: 16px;
                &:hover{
                    background-color: white;
                    color: #981E5D;
                    border: solid 1px #981E5D;
                }
            }
            a:nth-child(2){
                background-color: white;
                border: solid 1px #981E5D;
                color: #981E5D;
                font-size: 16px;
                font-weight: 700;
                &:hover{
                    color: #981E5D;
                }
            }
        }
    }
}

/*CARD SECTION DESIGNS*/

.cards{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    ul{
        display: flex;
        width: 100%;
        gap: 100px;
        margin-top: -160px;
        justify-content: center;
        li{
            width: 400px;
            height: 370px;
            box-shadow: 0px 2px 10px 2px black;
            text-align: center;
            padding: 40px 10px;
            img{
                margin-bottom: 30px;
            }
            h3{
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 30px;
            }
        }
        li:nth-child(1){
            background-color:white;
        }
        li:nth-child(2){
            background-color:black;
            color: white;
        }
        li:nth-child(3){
            background-color: #981E5D;
        }
    }
}
.about-us{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .text-of-about{
        margin-left: 65px;
        width: 49%;
        padding-right: 190px;
        .line{
            display: flex;
            align-items: center;
            width: fit-content;
            justify-content: space-between;
            hr{
                width: 50px;
                margin-right: 20px;
            }
        }
        h3{
            font-size: 30px;
            font-weight: 800;
            padding:20px 0;
        }
        .owners-Picture{
            margin-top: 20px;
            display: flex;
            width: 80%;
            height: 120px;
            background-color: #981E5D;
            align-items: center;
            h2{
                font-size: 120px;
            }
            p{
                width: 120px;
                padding-left: 30px;
            }
            img{
                width: 300px;
                padding-left: 50px;
            }
        }
    }
    .image-of-about{
        width: 49%;
        background-position: center;
        background-position: center;
        height: 450px;
        background-image: url(images/side-image.jpeg);
        margin-right: 70px;
        margin-bottom: 40px;
        img{
            width: 450px;
            padding-right: -450px;
        }

    }
}

/*Service Section Designs*/

#Services{
    width: 100%;
    height: fit-content;
    background:black;
    display: flex;
    align-items: center;
    padding-right:70px;
    justify-content: space-between;
    .textarea{
        padding-left: 65px;
        .line{
            display: flex;
            color: #981E5D;
            gap: 20px;
            align-items: center;
            padding-top: 30px;
            hr{
                width: 50px;
                margin-right: 5px;
            }
            h4{
                font-size: 20px;
            }
        }
        h3{
            font-size: 33px;
            color: white;
            width: 350px;
            font-weight: 800;
            margin-top: 20px;
            line-height: 1.5;
        }
    }
    .btns{
        a{
            padding: 15px 25px;
            background-color: #981E5D;
            color: white;
            font-size: 16px;
            font-weight: 300;
            &:hover{
                background-color: white;
                color: #981E5D;
                border: solid 1px #981E5D;
            }
        }
    }
}
/*Service Listing Items*/
#services-list-items{
    width: 100%;
    height: fit-content;
    background-color: black;
    padding-bottom: 100px;
    ul{ 
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 20px;
        justify-content: center;
        li{
            width: 300px;
            height: 400px;
            border: solid 1px gray;
            text-align: center;
            color: white;
            padding-top: 60px;
            h4{
                padding-bottom: 50px;
                font-size: 25px;
            }
            p{
                width: 240px;
                margin: auto;

            }
            &:hover{
                border: solid 1px #981E5D;
            }
            i{
                font-size: 30px;
                width: 100px;
                color: #981E5D;
                padding-bottom: 60px;
            }
        }
    }
}

/*GALLERY SECTION DESIGN */
#Gallary{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 100px;
        li{
            height: 400px;
        }
        li:nth-child(1){
            width: 320px;
            background: url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.32\ AM.jpeg);
            background-position: center;
            background-size: contain;
        }
        li:nth-child(2){
            width: 650px;
            background: url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.32\ AM\ \(1\).jpeg);
        }
        li:nth-child(3){
            width: 320px;
            background: url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.33\ AM.jpeg);
            // background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .meet-the-team{
        width: 600px;
        height: 100px;
        background: black;
        color: white;
        margin: auto;
        margin-top: -50px;
        div{
            align-items: center;
            display: flex;
            padding: 10px 20px;
            hr{
                width: 60px;
                margin-right: 20px;
            }
        }
        h3{
            font-size: 27px;
            padding-left: 20px;
        }
    }
    .call-btn{
        width: fit-content;
        margin: auto;
        margin-top: -175px;
        margin-right: 300px;
        button{
            background-color: #981E5D;
            padding: 30px 30px;
            border: 0;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            &:hover{
                background: white;
                border: solid 1px #981E5D;
                color: #981E5D;
            }
        }
    }
}

/*consultant SECTION DESIGN*/
#consultant{
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow:  0px 2px 35px 1px black;
    color: white;
    padding-bottom: 40px;
    .image{
        width: 20%;
        img{
            height: 180px;
            margin-top: 40px;
            margin-left: 170px;
        }
    }
    .the-text-area{
        width: 50%;
        padding-top: 60px;
        padding-left: 40px;
        .text{
            font-size: 40px;
            font-weight: 800;
            padding-top: 15px;
        }
        div{
            display: flex;
            width: 100%;
            align-items: center;
            hr{
                width: 50px;
                height: 0px;
                margin-right: 10px;
            }
        }
    }
    .the-btn{
        width: 20%;
        align-items: center;
        margin-top: 135px;
        a{
            background-color: #981E5D;
            box-shadow: 0px 1px 20px 10px #981E5D;
            padding: 18px 23px;
            color: black;
            margin-top: 760px;
            &:hover{
                background-color: white;
                border: solid 1px #981E5D;
                color: #981E5D;
            }
        }
    }
}
/*My-Team-Area Design*/
#teams{
    width: 90%;
    height: fit-content;
    margin: auto;
    .out-team-header{
        div{
            padding-top: 40px;
            display: flex;
            align-items: center;
            margin: auto;
            width: 40%;
            justify-content: center;
            hr{
                color: black;
                border: inset 1px #981E5D;
                width: 70px;
            }
            h5{
                padding: 0 20px;
                color:#981E5D;
                font-weight: 900;
            }
        }
        h3{
            font-size: 40px;
            margin: auto;
            width: 450px;
            padding-top: 30px;
            color: black;
            font-weight: 800;
        }
    }
    .the-images-section{
        display: block;
        align-items: center;
        width: 100%;
        height: 100vh;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        .first-image{
            width: 370px;
            height: 450px;
            border: solid 1px transparent;
            box-shadow: 0px 1px 6px 1px black;
            border-radius: 10px;
            position: relative;
            background: linear-gradient(rgba(172, 165, 165, 0.596),rgba(244, 244, 247, 0.425)),url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.34\ AM.jpeg);
            background-position: center;
            background-size: cover;
            flex-direction: column;
            .contents{
                width: 370px;
                height: 450px;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                backdrop-filter: 200px;
                padding-top: 350px;
                padding-left: 30px;
                h3{
                    font-size: 45px;
                    color: #981E5D;
                }
                h4{
                    font-size: 20px;
                }
            }
            img{
                width: 360px;
                height: 440px;
                background: linear-gradient(rbga(0,0,0,0.5));
            }
        }
        .first-image2{
            width: 370px;
            height: 450px;
            border: solid 1px transparent;
            box-shadow: 0px 1px 6px 1px black;
            border-radius: 10px;
            position: relative;
            background: linear-gradient(rgba(172, 165, 165, 0.596),rgba(244, 244, 247, 0.425)),url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.37\ AM.jpeg);
            background-position: center;
            background-size: cover;
            .contents{
                width: 370px;
                height: 450px;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                backdrop-filter: 200px;
                padding-top: 350px;
                padding-left: 30px;
                h3{
                    font-size: 45px;
                    color: #981E5D;
                }
                h4{
                    font-size: 20px;
                }
            }
        }
        .first-image3{
            width: 370px;
            height: 450px;
            border: solid 1px transparent;
            box-shadow: 0px 1px 6px 1px black;
            border-radius: 10px;
            position: relative;
            background: linear-gradient(rgba(172, 165, 165, 0.596),rgba(244, 244, 247, 0.425)),url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.42\ AM.jpeg);
            background-position: center;
            background-size: cover;
            img{
                width: 360px;
                height: 440px;
            }
            .contents{
                width: 370px;
                height: 450px;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                backdrop-filter: 200px;
                padding-top: 350px;
                padding-left: 30px;
                h3{
                    font-size: 45px;
                    color: #981E5D;
                }
                h4{
                    font-size: 20px;
                }
            }
        }
    }
}
/*THE VIDEO SECTION DESIGN */

#the-video-section{
    width: 100%;
    height: fit-content;
    .large-image{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(7, 36, 80, 0.432)), url(images/WhatsApp\ Image\ 2022-12-03\ at\ 4.35.50\ AM\ \(2\).jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text-area{
            padding-top: 100px;
            text-align: center;
            p{
                color: white;
                font-size: 20px;
            }
            h3{
                font-size: 45px;
                padding-top: 20px;
                color: white;
                font-weight: 800;
            }
        }
        .play-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #981E5D;
            width: 100px;
            height: 100px;
            color: #fff;
            border-radius: 100%;
            position: relative;
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                border: 15px solid#fff;
                border-radius: 50%;
                top: -20px;
                left: -20px;
                right: -20px;
                bottom: -20px;
                animation: pop-in 1.5s linear infinite;
                opacity: 0;
                z-index: 1;
            }
            &::after{
                content: '';
                position: absolute;
                border: 15px solid#fff;
                border-radius: 50%;
                top: -20px;
                left: -20px;
                right: -20px;
                bottom: -20px;
                animation: pop-in2 1.5s linear infinite;
                opacity: 0;
                z-index: 1;
                animation-delay: .4s;
            }
            i{
                cursor: pointer;
            }
        }
        .play-btn .active{
            visibility: visible;
            opacity: 1;
        }
    }
    @keyframes pop-in {
        0%{
            transform: scale(.5);
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: scale(1.5);
        }
    }
    .the-video{
        width: 90%;
        text-align: center;
        margin: auto;
        display: none;
        video{
            max-width: 900px;
            position: relative;
            outline: none;
        }
        #class{
            position: absolute;
            top: 30px;
            cursor: pointer;
            color: red;
        }
    }
}
/*CONTACT US SECTION DESIGN */
#contact-us{
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    margin: 40 auto;
    .the-general-text{
        display: flex;
        justify-content: space-between;
        padding-right: 65px;
        align-items: center;
        a{
            padding: 10px 25px;
            background-color: #981E5D;
            color: white;
        }
        .the-text{
            padding: 40px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            h3{
                font-size: 40px;
                width: 450px;
                font-weight: 800;
                padding-top: 20px;
            }
            padding-left: 65px;
            div{
                display: flex;
                align-items: center;
            }
            hr{
                width: 50px;
                margin-right: 10px;
            }
        }
    }
    .the-form-section{
        width: 90%;
        height: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        .the-first-side{
            // width: 100%;
            // height: 480px;
            // border-radius: 20px 10px 20px 10px;
            // display: flex;
            // flex-direction: column;
            // box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.473);
            div{
                display: flex;
                padding-left: 65px;
                .the-area-of-office{
                    display: flex;
                    flex-direction: column;
                    padding-top: 50px;
                    margin-left: -30px;
                }
            }
            i{
                color: #981E5D;
                padding-top: 53px;
                padding-left: 30px;

            }
        }
        .the-form{
            form{
                background-color: black;
                border-radius: 30px;
                height: 500px;
                padding: 30px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
                input{
                    outline: none;
                    text-indent: 10px;
                    border-radius: 10px;
                    border: 0;
                    height: 40px;
                    width: 257px;
                    margin: 0;
                    padding: 0;
                    background: gray;
                    color: #fff;
                    &::placeholder{
                        color: white;
                    }
                }
                input:nth-child(3){
                    width: 524px;
                }
                textarea{
                    height: 300px;
                    width: 524px;
                    text-indent: 10px;
                    padding: 10px 0;
                    outline: none;
                    background: gray;
                    border-radius: 0 0 5px 5px;
                    &::placeholder{
                        color: white;
                    }
                }
                .btn{
                    background-color: #981E5D;
                    padding: 10px 20px;
                    width: 250px;
                    font-weight: 800;
                    cursor: pointer;
                    &:hover{
                        background: white;
                        border: solid 2px #981E5D;
                        border-radius: 5px;
                        color: #981E5D;
                    }
                }
            }
        }
    }

}
footer{
    .contents{
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
    }
}
@media (max-width:991px) {
    #the-video-section{
        .the-video{
            video{
                max-width: 90%;
            }
        }
    }
}
// @media (max-width:767px) {
//     header{
//         height: 120vh;
//         nav{
//             .logo{

//             }
//             .navmenus{
//                 display: none;
//             }
//         }
//         .container{
//             width: 100%;
//             padding: 0 30px;
//             h1{
//                 font-size: 75px;
//             }
//             .mybtns{
//                 width: 80%;
//                 gap: 40px;
//                 justify-content: center;
//                 margin-top: 40px;
//                 margin: 40px auto 0;
//             }
//         }
//     }
//     .cards{
//         ul{
//             display: flex;
//             flex-wrap: wrap;
//             width: 100%;
//             gap: 50px;
//             margin: auto;
//             margin-top: -90px;
//             justify-content: center;
//             li{
//                 width: 290px;
//             }
//         }
//     }
//     .about-us{
//         display: flex;
//         flex-direction: column-reverse;
//         .image-of-about{
//             width: 90%;
//             margin: auto;
//         }
//         .text-of-about{
//             width: 90%;
//             margin: auto;
//             margin-top: 30px;
//             h3{
//                 font-size: 30px;
//                 font-weight: 800;
//                 padding:20px 0;
//                 width: 100%;
//             }
//             p{
//                 font-size: 16px;
//                 width: 100%;
//             }
//         }
//     }
    
// }
@media (max-width:616px) {
    header{
        height: 120vh;
        nav{
            .logo{

            }
            .navmenus{
                display: none;
            }
            .btn{
                display: none;
            }
        }
        .container{
            width: 100%;
            padding: 0 30px;
            h1{
                font-size: 40px;
            }
            .mybtns{
                width: 80%;
                gap: 40px;
                justify-content: center;
                margin-top: 40px;
                margin: 40px auto 0;
                a{
                    padding: 5px 10px;
                }
                a:nth-child(1){
                    font-size: 9px;
                    align-items: center;
                    padding: 8px 10px;
                }
                a:nth-child(2){
                    font-size: 9px;
                    padding: 8px 18px;
                }
            }
        }
    }
    .about-us{
        .text-of-about{
            width: 90%;
            padding: 0;
            margin: 0;
            padding: 20px 20px;
            h3{
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 20px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .owners-Picture{
                width: 90%;
                display: flex;
                align-items: center;
                gap: 3px;
                h2{
                    font-size: 40px;
                    padding-left: 10px;
                }
                p{
                    font-size: 11px;
                }
                img{
                    width: 210px;
                    height: 100px;
                }
            }
        }
    }
    #Services{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0;
       
        .textarea{
            margin-left: -160px;
            width: 80%;
            h3{
                font-size: 17px;
                width: 80%;

            }
        }
        .btns{
            width: 20%;
            margin-top: 20px;
            margin-bottom: 40px;
            a{
                font-size: 9px;
                width: 100%;
                padding: 10px 15px;
                margin-left: -150px;

                
                
            }
        }
    }
    #Gallary{
        margin-top: -30px;
        margin-bottom: 40px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 30px;

            li:nth-child(1){
                width: 90%;
                margin: auto;
                
            }
            li:nth-child(2){
                width: 90%;
                margin: auto;
                
            }
            li:nth-child(3){
                width: 90%;
                margin: auto;
                
            }
        }
        .meet-the-team{
            width: 90%;
            margin: auto;
            height: 180px;
            padding-bottom: 50px;
            div{
                font-size: 12px;
            }
            h3{
                font-size: 16px;
            }
        }
        .call-btn{
            width: 90%;
            margin: auto;
            text-align: center;
            margin-top: -20px;
            button{
                width: 60%;
                margin: auto;
                height: 40px;
                padding: 0;
            }
        }
    }
    #consultant{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        .the-text-area{
            hr{
                width: 10px;
            }
            h3{
                font-size: 10px;
            }
        }
        
    }
    #teams{
        .out-team-header{
            h3{
                font-size: 20px;
            }
        }
        .the-images-section{
            display: block;
            flex-direction:column;
            gap: 40px;
            margin-top: 50px;
            margin-bottom: 950px;
                .first-image{
                    margin-right: 30px;
                }
        }
    }
    #contact-us{
        .the-general-text{
            a{
                margin-top: -3px;
            }
            .the-text{
                padding: 0;
                margin: 0;
                padding-left: 30px;
                margin-bottom: 50px;
                h3{
                    font-size: 25px;
                    width: 300px;
                }
            }
        }
        .the-form-section{
            display: flex;
            flex-direction: column-reverse;
            .the-form{
                width: 100%;
                margin-bottom: 50px;
                form{
                    input{
                        width: 200px;
                    }
                    input:nth-child(3){
                        width: 410px;
                    }
                    textarea{
                        width: 410px;
                    }
                }
            }
        }
    }
}